extends ../../layout/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main

  +alert-error(5000)

  h1(class="mb-4") Thêm mới danh mục sản phẩm

  form(
    action=`${prefixAdmin}/product-category/create` 
    method="POST"
    enctype="multipart/form-data"
    )
    div(
      class="form-group"
      )
      label(
        for="title"
        ) Tiêu đề
      br
      input(
        type="text" 
        lass="form-control" 
        id="title" 
        name="title" 
        required
        )


    div(
      class="form-group"
      )
      label(
        for="parent_id"
        ) Danh mục cha
      br
      //- input(
      //-   type="text" 
      //-   lass="form-control" 
      //-   id="parent_id" 
      //-   name="parent_id" 
      //-   )
      select(
        name="parent_id"
        id="parent_id"
        class="form-control"
      )
        option(value="") -- Chọn danh mục cha --
        if(records)
        +select-tree(records)

    div(
      class="form-group"
      )
      label(
        for="desc"
        ) Mô tả
      textarea(
        class="form-control textarea-mce" 
        id="desc" 
        name="description" 
        rows="5" 
        required
        )

    div(
      class="form-group"
      upload-image

    )
      label(
        for="thumbnail"
        ) Ảnh
      input(
        type="file" 
        class="form-control-file" 
        id="thumbnail" 
        name="thumbnail" 
        placeholder="Đường dẫn ảnh hoặc URL" 
        accept="image/*" 
        upload-image-input
        )
      img(
        src=""
        upload-image-preview
        class="image-preview"
      )

    div(class="form-group")
      label(for="position") Vị trí
      input(
        type="number"
        class="form-control" 
        id="position" 
        name="position"
        placeholder="Tu dong tang"
        min="1"
      )
    div(
      class="form-group"
      )
      label Trạng thái
      div
        input(
          type="radio" 
          id="active" 
          name="status" 
          value="1" 
          checked
          )
        label(
          for="active"
          ) Hoạt động
        input(
          type="radio" 
          id="inactive" 
          name="status" 
          value="0"
          )
        label(
          for="inactive"
          ) Dừng hoạt động

    button(type="submit" class="btn btn-primary mt-3") Tạo mới

  script(src="/admin/js/product.js")
